[user]
	name = Kamil Rakoczy
	email = kamilrakoczy1@gmail.com
[core]
	editor = nvim
	untrackedcache = true
	fsmonitor = true
[alias]
	staash = stash --all
	bb = !git for-each-ref --color --sort=-committerdate --format=$'%(color:red)%(ahead-behind:HEAD)\t%(color:blue)%(refname:short)\t%(color:yellow)%(committerdate:relative)\t%(color:default)%(describe)' refs/heads/ --no-merged | sed 's/ /\t/' | column --separator=$'\t' --table --table-columns='Ahead,Behind,Branch Name,Last Commit,Description'
	ll = log -L
	force-push = push --force-with-lease
[rerere]
	enabled = true
